body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin-top: 50px;
    padding: 0;
}

.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

h1 {
    color: #333;
    text-align: center;
}

.currency-list {
    list-style: none;
    padding: 0;
}

.currency-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    transition: background-color 0.3s ease;
}

.currency-item:last-child {
    border-bottom: none;
}

.currency-code {
    font-weight: bold;
}

.currency-rate {
    color: #4caf50;
}

#refresh-button {
    height: 45px;
    width: 150px;
    font-size: medium;
    background-color: rgba(147, 171, 80, 0.804);
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    border-radius: 20px;
    cursor: pointer;
}
